:root {
    --bg: white
}

* {
    box-sizing: border-box;
}

/* Styles the buttons as they appear on the screen */
button {
    text-align: center;
    font-size: 1.0em;
    line-height: 200%;
    width: 7.5%;
    height: 7.5%;
    border-width: 3%;
    border-style: solid;
    border-color: var(--bg);
}

#game-input {
    width: 95%
}

body {
    justify-items: center;
}

/* Colors the letters green or red for correct and incorrect guesses */
.guessedYuhHuh {
    color: green;
}

.guessedNuhUh {
    color: red;
}

/* sets width for the Start New Game and End Game buttons */
.startendbuttons {
    width: 48.2%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    box-sizing: border-box;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible.active,
.collapsible:hover {
    background-color: #ccc;
    box-sizing: border-box;
    width: 100%
}

/* Style the collapsible content. Note: hidden by default */
.content {
    box-sizing: border-box;
    padding: 5% 5%;
    display: none;
    background-color: #f1f1f1;
    width: 100%
}

.menu {
    width: 75%
}

.line {
    stroke: red;
    stroke-width: 3px;
    fill: none;
}

#word {
    justify-self: center;
}
/* for hiding stuff */
.hidden {
    opacity: 0;
}